swagger: '2.0'
info:
  description: This is the swagger file that goes with our server code
  version: 1.0.0
  title: Swagger REST Article
consumes:
  - application/json
produces:
  - application/json
basePath: /api
paths:
  /customers:
    get:
      operationId: briket_DB.customers.read_all
      tags:
        - Customers
      summary: 'Read the entire set of customers, sorted by id'
      description: 'Read the entire set of customers, sorted by id'
      responses:
        '200':
          description: Successful read customers set operation
          schema:
            type: array
            items:
              properties:
                customer_id:
                  type: integer
                chat_id:
                  type: integer
                phone:
                  type: string
                addres:
                  type: string
                disc_status:
                  type: boolean
    post:
      operationId: briket_DB.customers.create
      tags:
        - Customers
      summary: 'Create a customer'
      description: 'Create a customer'
      parameters:
        - name: customer
          in: body
          description: Customer to create
          required: True
          schema:
            type: object
            properties:
              chat_id:
                type: integer
                description: chat_id
              phone:
                type: string
                description: phone
              addres:
                type: string
                description: addres
              disc_status:
                type: boolean
                description: disc_status
      responses:
        201:
          description: Successfully created customer
          schema:
            properties:
              customer_id:
                type: integer
                description: customer_id
              chat_id:
                type: integer
                description: chat_id
              phone:
                type: string
                description: phone
              addres:
                type: string
                description: addres
              disc_status:
                type: boolean
                description: disc_status


  /customers/{customer_id}:
    get:
      operationId: briket_DB.customers.read_one
      tags:
        - Customers
      summary: 'Read one customer'
      description: 'Read one customer'
      parameters:
        - name: customer_id
          in: path
          description: Id of the customer to get
          type: integer
          required: True
      responses:
        '200':
          description: Successful read one customer
          schema:
            type: object
            items:
              properties:
                customer_id:
                  type: integer
                chat_id:
                  type: integer
                phone:
                  type: string
                addres:
                  type: string
                disc_status:
                  type: boolean
    put:
      operationId: briket_DB.customers.update
      tags:
        - Customers
      summary: Update a customer
      description: Update a customer
      parameters:
         - name: customer_id
           in: path
           description: Id of a customer
           type: integer
           required: True

         - name: customer
           in: body
           schema:
             type: object
             properties:
               chat_id:
                 type: integer
               phone:
                 type: string
               addres:
                 type: string
               disc_status:
                 type: boolean
      responses:
        200:
          description: Successfully updated customer
          schema:
            properties:
              customer_id:
                type: integer
              chat_id:
                type: integer
              phone:
                type: string
              addres:
                type: string
              disc_status:
                type: boolean

    delete:
      operationId: briket_DB.customers.delete
      tags:
        - Customers
      summary: Delete a customer by ID
      description: Delete a customer
      parameters:
        - name: customer_id
          in: path
          type: integer
          description: Id of the customer to delete
          required: True
      responses:
        200:
          description: Successfully deleted a customer